<!DOCTYPE html>
<html lang="en">
<head>
    {{ JSGlue.include() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="{{ url_for('static',filename='css/simple-sidebar.css')}}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/0be09ead75.js" crossorigin="anonymous"></script>
    <style>
         .body
        {
            background-image: url("{{ url_for('static',filename="img/tq1.jpg")}}");
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header fixed-brand">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
                      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> PRUDENT </a>
                </div><!-- navbar-header-->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                            </ul>
                            
                </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {% if not current_user.is_anonymous %}
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li>
                    <a href="{{ url_for('home') }}"><span class="fa-stack fa-lg pull-left"><i class="fas fa-tachometer-alt fa-stack-1x "></i></span> Dashboard</a>       
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span> Shortcut</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>

                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('sendInvites') }}"><span class="fa-stack fa-lg pull-left"><i class="fas fa-mail-bulk fa-stack-1x"></i></span>Send Invites</a>
                </li>
                <li>
                    <a href="{{ url_for('schedule') }}"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-clock fa-stack-1x "></i></span>Arrange Sessions</a>
                </li>
                <li>
                    <a href="{{ url_for('getSessions') }}"><span class="fa-stack fa-lg pull-left"><i class="fas fa-list-ul fa-stack-1x "></i></span>Show Arranged Sessions</a>
                </li>
                <li>
                    <a href="{{ url_for('getStudents') }}"><span class="fa-stack fa-lg pull-left"><i class="fas fa-user fa-stack-1x "></i></span>Show Attendees</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}"><span class="fa-stack fa-lg pull-left"><i class="fas fa-sign-out-alt fa-stack-1x "></i></span>Logout</a>
                </li>
            </ul>
            {% endif %}
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-md-4">                        
                    </div>
                    <div class="col-md-4">
                        {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
            <div id = "display_msg" class="alert alert-warning text-center rcorners" role="alert">{{message}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
                    </div>
                    <div class="col-md-4">                        
                    </div>
                </div>
                {% block page_content %}

                {% endblock%}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/sidebar_menu.js') }}"></script>
    <script src="{{ url_for('load_service') }}"></script>
    <script src="{{ url_for('static',filename='js/notification.js') }}"></script>
    <script>
        registerServiceWorker();
    </script>
</body>
</html>