<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}

        {% endblock%}
        - PSGA
    </title>
    {{ JSGlue.include() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <link href="{{ url_for('static',filename='css/simple-sidebar.css')}}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/0be09ead75.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> PRUDENT </a>
        </div><!-- navbar-header-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>

        </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {% block register %}

            {% endblock%}
            {% if not current_user.is_anonymous %}
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li>
                    <a href="{{ url_for('home') }}" data-toggle="tooltip" data-placement="right" title="Dashboard"><span
                            class="fa-stack fa-lg pull-left"><i class="fas fa-tachometer-alt fa-stack-1x "></i></span>
                        Dashboard</a>
                </li>
                <li>

                    <a href="{{ url_for('sendInvites') }}" data-toggle="tooltip" data-placement="right"
                        title="Send Invites"><span class="fa-stack fa-lg pull-left"><i
                                class="fas fa-mail-bulk fa-stack-1x"></i></span>Send Invites</a>
                </li>
                <li>
                    <a href="{{ url_for('schedule') }}" data-toggle="tooltip" data-placement="right"
                        title="Arrange Session"> <span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-clock fa-stack-1x "></i></span>Arrange Sessions</a>
                </li>
                <li>
                    <a href="{{ url_for('getSessions') }}" data-toggle="tooltip" data-placement="right"
                        title=" Show Arranged Sessions"><span class="fa-stack fa-lg pull-left"><i
                                class="fas fa-list-ul fa-stack-1x "></i></span>Show Arranged Sessions</a>
                </li>
                <li>
                    <a href="{{ url_for('getStudents') }}" data-toggle="tooltip" data-placement="right"
                        title="Show Attendees"><span class="fa-stack fa-lg pull-left"><i
                                class="fas fa-user fa-stack-1x "></i></span>Show Attendees</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}" data-toggle="tooltip" data-placement="right" title="Logout"><span
                            class="fa-stack fa-lg pull-left"><i
                                class="fas fa-sign-out-alt fa-stack-1x "></i></span>Logout</a>
                </li>
            </ul>
            {% endif %}
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% block session %}

            {% endblock%}
                        <div class="container-fluid xyz">
                            <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div id="display_msg" class="alert alert-warning text-center rcorners" role="alert">{{message}}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                {% block page_content %}

                {% endblock%}
                            </div>
                    </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/sidebar_menu.js') }}"></script>
</body>

</html>