{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock%}

<body>
  {% block session %}
  <h1 style="text-align: center;"><b>{{ name }}</b></h1>
    {% endblock%}
  {% block page_content %}
  
  <div id="chartContainer" style="height:400px; width: 400px; position: left ;"></div>
  <div id="chartContainer1" style="height:400px; width: 500px;position: absolute;right: 7%;top: 22%;"></div>
  
  <div class="container-fluid">
    <h4>
      <ul>
        <li>Is the venue easily accessible?</li>
        <li>Is the Session Interactive?</li>
        <li>Does the Instructor demonstrate adequate knowledge of topic?</li>
        <li>Was the Seminar relevant to the topic?</li>
        <li>Are you likely to participate in our future seminar sessions?</li>
      </ul>
    </h4>
  </div>
  
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script type="text/javascript">
    window.appConfig = {
      session_id: {{ id }}
    }
    </script>
    <script src="{{ url_for('static',filename='js/genReport.js') }}"></script>
  {% endblock%} 
</body>
</html>