{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %} {{ title }} {% endblock %}
</head>
<body>
    {% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {% if sessions %}
                    {{ form.hidden_tag() }}
                    <h3 class="text-center">Edit Session</h3>
                    {{ wtf.form_field(form.session_name,value=sessions.name) }}
                    {{ wtf.form_field(form.session_domain,value=sessions.domain) }}
                    {{ wtf.form_field( form.session_date,placeholder=sessions.scheduled_on.strftime("%d/%m/%Y, %H:%M")) }}
                    {{ wtf.form_field(form.submit) }}
                {% else %}
                <h3 class="text-center">Schedule Session</h3>
                {{ wtf.quick_form(form) }}
                {% endif %}
            <div class="col-md-4"> </div>
        </div>
    </div>    
    {% endblock %}
</body>
</html>
