{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %} {{ title }} {% endblock %}
</head>
<body>
    {% block page_content %}
    <div class="container-fluid">
      <h3 class="text-center text-dark my-4">Upcoming Sessions</h3>
      {% if sessions %}
      <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Domain</th>
                <th>Scheduled On</th>
            </tr>
        </thead>
            <tbody>
              
              {% for session in sessions %}
              <tr>
                <td>{{ session.s_id }}</td>
                <td>{{ session.name }}</td>
                <td>{{ session.domain }}</td>
                <td>{{ session.scheduled_on }}</td>
              </tr>
            {% endfor %}
            </tbody>
    </table>
    {% else %}
      <div class="container"><p class="text-center">No Sessions!!</p></div>
    {% endif %}
  </div>
  <div class="container mt-4" >
    <div class="row align-items-center">
      <div class="col-md-6" id = "pie-chart"></div>
      <div class="col-md-6"  id="bar-chart"></div>
    </div>
  </div>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
 <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
  <script type= "text/javascript" src = "{{ url_for('static',filename='js/chartdata1.js') }}" ></script>
    {% endblock %}
</body>
</html>