{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %} {{ title }} {% endblock %}
</head>
<body>
    {% block page_content %}
    <div class="container">
      <div class="card-deck">
      <div class="card bg-primary">    
        <div class="card-body text-center">
          Java (45)
        </div>
      </div>
      <div class="card bg-primary">
         
          <div class="card-body text-center">
              Python (50)
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body text-center">
              C++ (30)
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body text-center">
              .Net (20)
          </div>
        </div>
    </div>
  <div class="container p-3 my-3">
      <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Mob no.</th>
                <th>Area of interest</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Anuja Pawar</td>
                <td>Karad</td>
                <td>anujapawar64@gmail.com</td>
                <td>8669531805</td>
                <td>Java</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Parthavi Patel</td>
                  <td>Amravati</td>
                  <td>parthavipatel98@gmail.com</td>
                  <td>8669531805</td>
                  <td>C++</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Nilesh Suryawanshi</td>
                  <td>Pune</td>
                  <td>nileshsuryawanshi2016.comp@mmcoe.edu.in</td>
                  <td>8669531805</td>
                  <td>Python</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Sayee Mulay</td>
                  <td>Ahamadnagar</td>
                  <td>mulaysayee2016.comp@mmcoe.edu.in</td>
                  <td>8669531805</td>
                  <td>.Net</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
  </div>
    {% endblock %}
</body>
</html>