{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} {{ title }} {% endblock %}
</head>
<body>
    {% block register %}
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li>
                    <a href="{{ url_for('login') }}" data-toggle="tooltip" data-placement="right" title="Login"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-in"></i></span> Login</a>       
                </li> 
            </ul>
            {% endblock%}   

    {% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Register</h3>
                {{ wtf.quick_form(form) }}
            <div class="col-md-4"> </div>
        </div>
    </div>    
    
    
    {% endblock %}
</body>
</html>