{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} {{ title }} {% endblock %}
</head>
<body>
    {% block page_content %}
    <div class="container-fluid">
        <h3 class="text-center text-dark my-4">Atendees</h3>
        
        <p class="text-right"> <input id="myInput" type="text" placeholder="Search.."> </p> 

        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Feedback</th>
                    <th>Session</th>
                </tr>
                </thead>
                <tbody id="myTable">
                    {% for stud in students.items %}
                    <tr>
                        <td scope="row">{{ stud[0] }}</td>
                        <td>{{ stud.email }}</td>
                        <td>{{ stud.city }}</td>
                        <td>{{ stud.description }}</td>
                        <td>{{ stud.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    <hr>
    <div class="container-fluid text-center">

            {% if prev %}
            <a href="{{ prev }}">Newer</a>
            {% endif %}
            {% for page in range(1,pages+1) %}
                {% if cur_page == page %}
                    <u><a href = "{{ url_for('getStudents',page = page ) }}" >{{ page }}</a></u>
                {% else %}
                    <a href= "{{ url_for('getStudents',page = page ) }}" >{{ page }}</a>
                {% endif %}
            {% endfor %}    
        
            {% if next %}
            <a href="{{ next }}">Older</a>
            {% endif %}

    </div>   
    <hr>   
    <script>
               $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
    </script>  
    {% endblock %}
</body>
</html>
