<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div {
  margin-bottom: 15px;
  padding: 4px 12px;
}
.right {
  margin: right;
  width: 50%;
  padding: 10px;
}

.info {

    width: 500px;
    height: 500px;
    
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

</style>
</head>
<body>
    
    
   
    
<div class="info" style="position: absolute;
right: 7%;
top: 22%;">
  <p><strong>Info!</strong> Some text...</p>
</div>



</body>
</html>
