alembic==1.0.10
aniso8601==1.3.0
appdirs==1.4.3
APScheduler==3.6.3
arrow==0.15.5
attrs==19.3.0
autopep8==1.5
backcall==0.1.0
black==19.10b0
blinker==1.4
boto3==1.12.16
botocore==1.15.16
breadability==0.1.20
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
Click==7.0
configparser==4.0.2
coverage==5.1
cryptography==2.8
cssselect2==0.3.0
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
dominate==2.4.0
Flask==1.1.1
Flask-API==2.0
Flask-Bootstrap4==4.0.2
Flask-HTTPAuth==3.3.0
Flask-JSGlue==0.3.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-PageDown==0.2.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.3
greenlet==0.4.15
gunicorn==20.0.4
html5lib==1.0.1
http-ece==1.1.0
idna==2.8
importlib-metadata==1.6.0
ipython==7.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.1
lxml==4.5.0
Mako==1.0.12
Markdown==2.6.9
MarkupSafe==1.1.1
more-itertools==8.2.0
mysql-connector-python==8.0.19
nltk==3.5
numpy==1.18.3
packaging==20.3
pandas==1.0.3
parso==0.5.1
pathspec==0.7.0
pdfkit==0.6.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.1
pluggy==0.13.1
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
py==1.8.1
py-vapid==1.7.0
pycodestyle==2.5.0
pycountry==19.8.18
pycparser==2.19
Pygments==2.4.2
PyJWT==1.7.1
PyMySQL==0.9.3
pyparsing==2.4.7
Pyphen==0.9.5
PySocks==1.7.0
python-dateutil==2.6.1
python-editor==1.0.4
pytz==2019.1
pywebpush==1.10.1
regex==2020.1.8
requests==2.22.0
s3transfer==0.3.3
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.3.4
sumy==0.8.1
tinycss2==1.0.2
toml==0.10.0
tqdm==4.45.0
traitlets==4.3.2
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.25.3
visitor==0.1.3
wcwidth==0.1.7
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
wkhtmltopdf-wrapper==0.3.3
WTForms==2.1
zipp==3.1.0
