div#cert-footer {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    /* text-align: center; */
    margin-left: 40px;
  }
  
  #cert-stamp, #cert-ceo-sign {
    width: 60%;
    display: inline-block;
    
  }
  
div#cert-issued-by, div#cert-ceo-design {
    width: 40%;
    display: inline-block;
    float: left;  
  }
  p.text {
      margin: 10px 20px;
  
  }
  
  
  div#cert-ceo-design {
    margin-left: 10%;
  }
  
  h1 {
    font-family: 'Saira Condensed', sans-serif;
    margin: 5px 50px;
  }
  h2 {
    font-family: 'Saira Condensed', sans-serif;
    margin: 5px 210px;
  }
  
  body {
    width: 950px;
    height: 690px;
    position: absolute;
    left: 30px;
    /* margin: 20px 150px; */
    text-align: center;
  }
  
  p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 20px 50px;
  }
  
  h1#cert-holder {
    font-size: 50px;
    color: #be2d24;
    margin: 40px 100px
  }
  
  p.smaller {
    font-size: 17px !important;
    margin: 10px 210px;
  }
  
  p.stamp {
      margin: 20px 200px;
      margin-bottom: 200px;
  
  } 
  
div#cert-desc {
    width: 100%;
    /* text-align: center; */
  }
  
  p#cert-from {
    color: #be2d24;
    font-family: 'Saira Condensed', sans-serif;
  
  }
  
  div#cert-verify {
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 60%;
    font-size: 12px;
    color: grey;
  }